[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/external/utility"]
	path = engine/external/utility
	url = https://github.com/AdamFull/utllib.git
